@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>GitHub Repo for task1 <a href="https://github.com/nouraldeen1/horus-buisness-develpment">Task1</a>.</p>
    <p>GitHub Repo for task2 <a href="https://github.com/nouraldeen1/HorusTask">Task2</a>.</p>

</div>
